//
// Configuration
//

$font-size: 16px;     // Your base font-size in pixels
$em: $font-size / 1em;  // Shorthand for outputting ems

$column: 48px;  // The column-width of your grid in pixels
$gutter: 24px;  // The gutter-width of your grid in pixels


//
// Column-widths in variables, in ems
//

 $cols1: ( 1 * ($column + $gutter) - $gutter) / $em;
 $cols2: ( 2 * ($column + $gutter) - $gutter) / $em;
 $cols3: ( 3 * ($column + $gutter) - $gutter) / $em;
 $cols4: ( 4 * ($column + $gutter) - $gutter) / $em;
 $cols5: ( 5 * ($column + $gutter) - $gutter) / $em;
 $cols6: ( 6 * ($column + $gutter) - $gutter) / $em;
 $cols7: ( 7 * ($column + $gutter) - $gutter) / $em;
 $cols8: ( 8 * ($column + $gutter) - $gutter) / $em;
 $cols9: ( 9 * ($column + $gutter) - $gutter) / $em;
$cols10: (10 * ($column + $gutter) - $gutter) / $em;
$cols11: (11 * ($column + $gutter) - $gutter) / $em;
$cols12: (12 * ($column + $gutter) - $gutter) / $em;
$cols13: (13 * ($column + $gutter) - $gutter) / $em;
$cols14: (14 * ($column + $gutter) - $gutter) / $em;
$cols15: (15 * ($column + $gutter) - $gutter) / $em;
$cols16: (16 * ($column + $gutter) - $gutter) / $em;


//
// Column-widths in a function, in ems
//

@mixin width ($cols:1) {
  width: ($cols * ($column + $gutter) - $gutter) / $em;
}

$primary_color: #808285;
$accent_color: #30bec1;
$border_color: #ececec;
@mixin vertical_center($left,$right){
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:$left;
  right:$right;
}
//resets
*{
  margin:0;
  padding:0;
}
::selection {
  background: $accent_color;
  color: white;
}
::-moz-selection {
  background: $accent_color;
  color: white;
}
html{
  background-color:#fff;
  font-family:'Open Sans','PT Sans',helvetica,sans-serif;
}
a{
  text-decoration:none;
}
.emphasis_large{
  font-size:($font-size/$em);
  font-weight:bold;
  color:$primary_color;
}
.emphasis_small{
  font-weight:bold;
  color:$primary_color;
}
.summary{
  color:#999999;
  font-size:($font-size/$em)*0.8;
  margin-bottoM:($font-size/$em)*2;
}
.book_link{
  background-color:$accent_color;
  color:#fff;
  padding:($font-size/$em)*0.5;
  font-size:($font-size/$em)*0.9;
}
//header
header{
  background-color:#fff;
  border-bottom:solid 1px $border_color;
  height:120px;
  width:100%;
  
  li{
    list-style:none;
    display:inline-block;
  }
  div#header_top{
    position:relative;
    height:70%;
    width:100%;
    
    &>a:first-child img{
      @include vertical_center(4em,inherit);
      height:50%;
    }
    &>a:last-child{
      display:none;
    }
    ul,&>a:last-child{
      @include vertical_center(inherit,4em);
      svg{
        height:15px;
        // margin-left:1em;
        margin-left:$font-size/$em;
      }
      a .icon{
        transition:fill 0.3s;
      }
      a:hover .icon{
        fill:$accent_color;
      }
    }
  }
  div#header_bottom{
    position:relative;
    height:30%;
    width:100%;
    border-top:solid 1px $border_color;
    
    li{
      //margin-right:2em;
      margin-right:($font-size/$em)*2;
      height:100%;
    }
    a{
      display:block;
      //font-size:0.8em;
      font-size:($font-size*0.8)/$em;
      color:#808285;
      line-height:36px; //probably not very responsive
      transition:color 0.3s;
      
      &:hover{
        color:$accent_color;
      }
    }
    nav#left{
      @include vertical_center(4em,inherit);
      height:100%;
      
      ul{
        height:100%;
      }
      li.nav_book{
        background-color:$accent_color;
        //margin-left:-1em;
        margin-left:-($font-size/$em);
      }
      li.nav_book a{
        color:#fff !important;
        //padding:0 1em;
        padding:0 $font-size/$em;
      }
    }
    nav#right{
      @include vertical_center(inherit,2em);
    }
  }
}
//slides
div#slide{
  // position:fixed;
  // top:100px;
  // z-index:-1;
}
div#slide img{
  width:100%;
}
main{
  // border:solid 3px red;
}
div#featured_packages{
  width:$cols16;
  border:solid;
  &>div{
    width:$cols4;
    border:solid 1px $border_color;
    display:inline-block;
    vertical-align:top;
    padding:($font-size/$em)*0.5;
    margin-right:($font-size/$em)*4;
  }
  img{
    width:100%;
  }
  a.book_link{
    text-align:right;
  } 
}

//media queries

/*
  An easy way to zoom your entire layout in or out (as long as it's set in ems).
  Just change the media queries to activate them.
  Assuming your base font-size is 16:
  - the first one zooms out by a factor of (16-2)/16 = 0.875
  - the second one zooms in by a factor of (16+2)/16 = 1.125  
*/
@media screen and (max-width: $cols14) {
  body {
    font-size: ($font-size - 1) / $em;
  }
  div#featured_packages{
    margin:auto;
    width:$cols14;
    &>div{
      border:solid 1px $border_color;
      margin:0 auto;
      padding:($font-size/$em)*0.5;
      margin:($font-size/$em)*0.5;
    }
  }
}
@media screen and (max-width: $cols12) {
  body {
    font-size: ($font-size - 1) / $em;
  }
  div#featured_packages{
    width:$cols12;
    &>div{
      border:solid 1px $border_color;
      margin:0 auto;
      padding:($font-size/$em)*0.5;
      margin:($font-size/$em)*0.5;
    }
  }
}
@media screen and (max-width: $cols10) {
  body {
    font-size: ($font-size - 2) / $em;
  }
  header{
    height:85px;
    div#header_top{
      height:100%;
      
      &>a:first-child img{
        height:50%;
        left:($font-size/$em);
      }
      &>a:last-child{
        display:block;
        right:($font-size/$em)*2;
        
        svg{
          height:15px;
          
          &.active path{
            fill:$accent_color;
          }
        }
      }
    }
    div#header_bottom li, div#header_top ul,nav#right{
      display:none;
    }
    div#header_bottom{
      nav{
        position:static !important;
        transform:translate(0,0) !important;
        height:auto !important;
      }
      li{
        background-color:#fff;
        // display:block;
        text-align:right;
        margin:0;
        padding-right:2em;
        border-bottom:solid 1px $border_color;
      }
    }
  }
  div#slide{
    top:85px;
  }
  div#featured_packages{
    width:$cols10;
    &>div{
      border:solid 1px $border_color;
      margin:0 auto;
      padding:($font-size/$em)*0.5;
      margin:($font-size/$em)*0.5;
    }
  }
}
@media screen and (max-width: $cols8) {
  div#featured_packages{
    width:$cols8;
    &>div{
      border:solid 1px $border_color;
      margin:0 auto;
      padding:($font-size/$em)*0.5;
      margin:($font-size/$em)*0.5;
    }
  }
}
@media screen and (max-width: $cols6) {
  div#featured_packages{
    width:$cols6;
    &>div{
      border:solid 1px $border_color;
      margin:0 auto;
      padding:($font-size/$em)*0.5;
      margin:($font-size/$em)*0.5;
    }
  }
}
@media screen and (max-width: $cols4) {
  div#featured_packages{
    width:$cols4;
    &>div{
      border:solid 1px $border_color;
      margin:0 auto;
      padding:($font-size/$em)*0.5;
      margin:($font-size/$em)*0.5;
    }
  }
}